.display{
  display: flex;
  justify-content: space-evenly;
}

.display h2{
  font-size: 3rem;
  border: 2px solid black;
  padding: 5%;
  background-color: #abe5e9;
  border-radius: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons button{
  font-size: 2rem;
  padding: 2%;
  border-radius: 10px;
  margin: 3%;
  background-color: #3dc2cb;
}

.buttons button:hover{
  color: #3dc2cb;
  background-color: black;
}

.appContainer{
  width: 60%;
  margin: auto;
  border: 2px solid black;
  padding: 2%;
  background-color: #eaf8f9;
  border-radius: 10px;
}

.appContainer h1{
  font-size: 5rem;
  text-align: center;
  text-decoration: underline;
}

.appContainer h3{
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}
